<h1>User Profile</h1>
<form class="form-horizontal" ng-submit="saveUserData(userData, avatar)" name="profileForm" novalidate>
    <div class="form-group" ng-class="{'has-error': profileForm.inputUserName.$dirty && profileForm.inputUserName.$error.required}">
        <label for="inputUserName" class="col-md-2 control-label">Nickname</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="inputUserName" id="inputUserName"
                   ng-model="userData.UserName"
                   required disabled>
            <span ng-show="profileForm.inputUserName.$dirty && profileForm.inputUserName.$error.required" class="help-block">Username is required</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': profileForm.inputFirstName.$dirty && profileForm.inputFirstName.$error.required}">
        <label for="inputFirstName" class="col-md-2 control-label">First Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="inputFirstName" id="inputFirstName"
                   ng-model="userData.FirstName"
                   required>
            <span ng-show="profileForm.inputFirstName.$dirty && profileForm.inputFirstName.$error.required" class="help-block">Firstname is required</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': profileForm.inputLastName.$dirty && profileForm.inputLastName.$error.required}">
        <label for="inputLastName" class="col-md-2 control-label">Last Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="inputLastName" id="inputLastName"
                   ng-model="userData.LastName"
                   required>
            <span ng-show="profileForm.inputLastName.$dirty && profileForm.inputLastName.$error.required" class="help-block">Lastname is required</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': profileForm.inputAvatar.$error.maxsize || profileForm.inputAvatar.$error.accept }">
        <label for="inputAvatar" class="col-md-2 control-label">Avatar</label>
        <div class="col-md-10">
            <input type='file' ng-model='avatar.image' name="inputAvatar" id="inputAvatar" base-sixty-four-input maxsize="100" accept="image/*">
            <span ng-show="profileForm.inputAvatar.$error.maxsize" class="help-block">Maximum Filesize is 100KB</span>
            <span ng-show="profileForm.inputAvatar.$error.accept" class="help-block">Only images are allowed</span>
            <br />
            <img src="{{userData.Avatar}}" />
            <div class="checkbox"><label><input type="checkbox" name="deleteAvatar" ng-model="avatar.deleteAvatar"> Delete Avatar</label></div>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': profileForm.inputLastName.$dirty && profileForm.inputLastName.$error.required}">
        <label for="inputLastName" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwordChangeModal">Change Password</button>
        </div>
    </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <ng-include src="'components/html/notification_service.html'"></ng-include>
            <button type="submit" class="btn btn-primary" ng-disabled="profileForm.$invalid" >Save</button>
        </div>
    </div>
</form>

<div class="modal fade" id="passwordChangeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal" ng-submit="changePassword(passwordData)" name="passwordForm" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Password</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group" ng-class="{'has-error': passwordForm.inputOldPassword.$dirty && passwordForm.inputOldPassword.$error.required}">
                        <label for="inputOldPassword" class="col-md-3 control-label">Current Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="inputOldPassword" id="inputOldPassword"
                                   ng-model="passwordData.OldPassword"
                                   required>
                            <span ng-show="passwordForm.inputOldPassword.$dirty && passwordForm.inputOldPassword.$error.required" class="help-block">Current Password is required</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': passwordForm.inputNewPassword.$dirty && passwordForm.inputNewPassword.$error.required}">
                        <label for="inputNewPassword" class="col-md-3 control-label">New Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="inputNewPassword" id="inputNewPassword"
                                   ng-model="passwordData.NewPassword"
                                   required>
                            <span ng-show="passwordForm.inputNewPassword.$dirty && passwordForm.inputNewPassword.$error.required" class="help-block">New Password is required</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': passwordForm.inputRepeatPassword.$dirty && passwordForm.inputRepeatPassword.$error.validator}">
                        <label for="inputRepeatPassword" class="col-md-3 control-label">Repeat Password</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="inputRepeatPassword" id="inputRepeatPassword"
                                   ng-model="passwordData.RepeatPassword"
                                   ui-validate=" '$value==passwordData.NewPassword' " ui-validate-watch=" 'passwordData.NewPassword' "
                                   required>

                            <span ng-show="passwordForm.inputRepeatPassword.$dirty && passwordForm.inputRepeatPassword.$error.validator" class="help-block">Passwords do not match</span>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" ng-disabled="passwordForm.$invalid">Change Password</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
