<h1>Ranking <small>{{rankingController.event.Title}}</small></h1>

<table class="table table-striped">
    <thead>
        <tr><td colspan="3" align="center"><dir-pagination-controls></dir-pagination-controls></td></tr>
        <tr>
            <th class="col-md-1"><a ng-click="sortType = 'Rank'; sortReverse = !sortReverse">#<i class="fa fa-fw" ng-if="sortType=='Rank'" ng-class="sortReverse && sortType=='Rank' ? 'fa-sort-desc' : 'fa-sort-asc'" /></a></th>
            <th class="col-md-9"><a ng-click="sortType = 'UserName'; sortReverse = !sortReverse">Nickname<i class="fa fa-fw fa-sort-desc" ng-if="sortType=='UserName'" ng-class="sortReverse && sortType=='UserName' ?'fa-sort-desc' : 'fa-sort-asc'" /></a></th>
            <th class="col-md-2"><a ng-click="sortType = 'Points'; sortReverse = !sortReverse">Points<i class="fa fa-fw fa-sort-desc" ng-if="sortType=='Points'" ng-class="sortReverse && sortType=='Points' ? 'fa-sort-desc' : 'fa-sort-asc'" /></a></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate-start="user in rankingController.eventRanking | orderBy:sortType:sortReverse | itemsPerPage: 25"><td>{{user.Rank}}</td><td>{{user.UserName}}</td><td>{{user.Points}}</td><td><button class="btn btn-primary btn-xs" ng-click="rankingController.getUserPointsBreakdown(user)"><i class="fa fa-plus" aria-hidden="true"></i></button></td></tr>
        <tr style="display:none"></tr>
        <tr dir-paginate-end>
            <td></td>
            <td colspan="3">
                <table ng-repeat="set in user.ChallengeSets" class="table table-condensed">
                    <tr><th colspan="2">{{set.Title}}</th></tr>
                    <tr><td></td><td></td></tr>
                </table>
            </td>
        </tr>
    </tbody>
    <tfoot><tr><td colspan="3" align="center"><dir-pagination-controls></dir-pagination-controls></td></tr></tfoot>
</table>