<h1>Cyber Security Challenge Portal</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Welcome ...</h3>
    </div>
    <div class="panel-body">
        <p>This is the FH Campus Wien Cyber Security Challenge Portal.</p>
        <p>Please login to open the challenges for your event.</p>
        <p><a class="btn btn-primary btn-lg" href="#!/view_login" role="button">Login</a></p>
    </div>
</div>