<h1>Event List</h1>
<p>In this overview all events present on this platform are listed.</p>
<div class="panel panel-default"
    ng-repeat="event in eventListController.eventList"
    ng-click="">
    <div class="panel-heading">{{event.Title}}</div>
    <div class="panel-body">
        <p ng-if="event.Description" btf-markdown="event.Description"></p>
        <button type="button" class="btn btn-primary" ng-click="eventListController.openEvent(event.Id)">Open Event</button>
        <button type="button" class="btn btn-primary" ng-click="eventListController.openRanking(event.Id)">Show Ranking</button>
    </div>

</div>